{% extends 'base.html.twig' %}

{% block title %}New Eleve{% endblock %}

{% block body %}
    <h1>Crée un nouvel Eleve</h1>

    {{ include('eleve/_form.html.twig') }}

    <a href="{{ path('app_eleve_index') }}">Retourner à la liste</a>
{% endblock %}
