{% extends 'base.html.twig' %}

{% block title %}New Instrument{% endblock %}

{% block body %}
    <h1>Ajout d'un instrument</h1>

    {{ include('instrument/_form.html.twig') }}

    <a href="{{ path('app_instrument_index') }}">Retour à la liste</a>
{% endblock %}
