{% extends 'base.html.twig' %}

{% block title %}New Intervention{% endblock %}

{% block body %}
    <h1>Crée nouvelle intervention</h1>

    {{ include('intervention/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_intervention_index') }}">Retour à la liste</a>
{% endblock %}
