{% extends 'base.html.twig' %}

{% block title %}New Intervention{% endblock %}

{% block body %}
    <h1>Crée nouvelle Intervention</h1>

    {{ include('intervention/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    
{% endblock %}
