{% extends 'base.html.twig' %}

{% block title %}Edit Professionnel{% endblock %}

{% block body %}
    <h1>Modifier un professionnel</h1>

    {{ include('professionnel/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_professionnel_index') }}">Retourner à la liste</a>

    {{ include('professionnel/_delete_form.html.twig') }}
{% endblock %}
