{% extends 'base.html.twig' %}

{% block title %}New Cours{% endblock %}

{% block body %}
    <h1>Créer un nouveau cours</h1>

    {{ include('accueil/_form.html.twig') }}

    <a href="{{ path('app_accueil_index') }}">Retour à la liste</a>
{% endblock %}
