{% extends 'base.html.twig' %}

{% block title %}Edit Professeur{% endblock %}

{% block body %}
    <h1>Edit Professeur</h1>

    {{ include('professeur/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_professeur_index') }}">Retourner à la liste</a>

    {{ include('professeur/_delete_form.html.twig') }}
{% endblock %}
