body {
    background-image: linear-gradient(90deg,rgba(207, 145, 0, 1) 0%, rgba(255, 179, 0, 1) 33%, rgba(255, 208, 0, 1) 66%, rgba(204, 173, 16, 1) 100%);
}

th {
    padding-left: 10px;
    padding-right: 10px;
}

td {
    text-align: center;
}