{% extends 'base.html.twig' %}

{% block title %}New Cours{% endblock %}

{% block body %}
    <h1>Crée nouveau Cours</h1>

    {{ include('cours/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_cours_index') }}" class="btn btn-secondary">
        Retour à la liste
    </a>
{% endblock %}
